<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Encuesta</title>
</head>
<body>
<h1>Detalles de la Encuesta</h1>

<div>
    <p><strong>ID:</strong> <span th:text="${encuesta.id}"></span></p>
    <p><strong>Nombre:</strong> <span th:text="${encuesta.nombre}"></span></p>
    <p><strong>Apellidos:</strong> <span th:text="${encuesta.apellidos}"></span></p>
    <p><strong>Email:</strong> <span th:text="${encuesta.email}"></span></p>
    <p><strong>Edad:</strong> <span th:text="${encuesta.edad}"></span></p>
    <p><strong>Teléfono:</strong> <span th:text="${encuesta.telefono}"></span></p>
    <p><strong>Fecha de Inicio de Estancia:</strong> <span th:text="${fechaFormateada}"></span></p>
    <p><strong>Motivo de Visita:</strong> <span th:text="${encuesta.motivoVisita}"></span></p>
    <p><strong>Servicios Utilizados:</strong> <span th:text="${encuesta.serviciosUtilizados}"></span></p>
    <p><strong>Nivel de Satisfacción:</strong> <span th:text="${encuesta.nivelSatisfaccion}"></span></p>
    <p><strong>Otros Comentarios:</strong> <span th:text="${encuesta.otrosComentarios}"></span></p>
</div>

<a href="/encuestas">Volver a la lista de encuestas</a>

</body>
</html>
